@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-predendard), sans-serif;
  }

  .prose-base {
    @apply prose dark:prose-invert w-full max-w-none;
  }
}

:root {
  --white: #ffffff;
  --black: #202125;

  --background: white;
  --foreground: #202125;

  --nav-stroke: #202125;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --nav-stroke: var(--white);
}

/* .prose {
  @apply w-f
} */

/*코드블럭 스타일*/
.prose pre span[data-line] {
  @apply inline-block px-4 sm:px-2 py-0.5 text-xs leading-snug;
}

.prose pre > code {
  display: grid;
}

.prose pre {
  padding: 1rem 0;
  border-radius: 0.5rem;
  overflow-x: auto;
}

/* 스크롤바 제거 */
/* .prose pre {
  scrollbar-width: none;
}
.prose pre::-webkit-scrollbar {
  display: none;
} */

/* 라인넘버 */
.prose pre > code[data-line-numbers] {
  counter-reset: line;
}

.prose pre > code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  text-align: right;
  color: gray;
}

.prose pre > code[data-line-numbers-max-digits='2'] > span[data-line]::before {
  width: 1.25rem;
}
.prose pre > code[data-line-numbers-max-digits='3'] > span[data-line]::before {
  width: 1.75rem;
}
.prose pre > code[data-line-numbers-max-digits='4'] > span[data-line]::before {
  width: 2.25rem;
}
.prose li > p {
  margin: 0;
}
/* 코드라인 하이라이팅 */
.prose pre span[data-highlighted-line] {
  @apply border-l-2 border-y-0 border-transparent bg-opacity-10 
      border-blue-400 bg-indigo-400 dark:border-blue-500 dark:bg-slate-700
      pl-[calc(1rem-2px)] sm:pl-[calc(0.5rem-2px)];
}

/* 코드블럭 타이틀 */
.prose [data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.prose [data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* 더블 쿼터 무시 */
.prose blockquote p::before,
.prose blockquote p::after {
  display: none;
}

/* 인라인 코드블럭 백틱 무시 */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

/* 인라인 코드블럭 스타일 */
.prose :not(pre) > code {
  @apply dark:bg-gray-900 bg-gray-100 border border-gray-200 dark:border-gray-700 font-mono text-sm font-normal align-middle py-0.5 px-1 rounded;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
